<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.provider.mapper.BannerMapper">

            <!-- 新增表banner信息 -->
            <insert id="insert" parameterType="com.example.common.entity.Banner" useGeneratedKeys="true"
                    keyProperty="banner.id">
                insert banner (
                <if test="banner.image != null and banner.image != ''">image,</if>
                <if test="banner.type != null and banner.type != ''">type,</if>
                <if test="banner.createTime != null and banner.createTime != ''">create_time,</if>
                <if test="banner.updateTime != null and banner.updateTime != ''">update_time,</if>
                is_deleted
                ) values (
                <if test="banner.image != null and banner.image != ''">#{banner.image},</if>
                <if test="banner.type != null and banner.type != ''">#{banner.type},</if>
                <if test="banner.createTime != null and banner.createTime != ''">#{banner.createTime},</if>
                <if test="banner.updateTime != null and banner.updateTime != ''">#{banner.updateTime},</if>
                #{banner.isDeleted}
                )
            </insert>

            <!-- 根据主键id更新表banner信息 -->
            <update id="update" parameterType="com.example.common.entity.Banner" useGeneratedKeys="true"
                    keyProperty="banner.id">
                update banner set
                    <if test="banner.image != null and banner.image != ''">image=#{banner.image},</if>
                    <if test="banner.type != null and banner.type != ''">type=#{banner.type},</if>
                    <if test="banner.createTime != null and banner.createTime != ''">create_time=#{banner.createTime},</if>
                    <if test="banner.updateTime != null and banner.updateTime != ''">update_time=#{banner.updateTime},</if>
                    <if test="banner.isDeleted != null and banner.isDeleted != ''">is_deleted=#{banner.isDeleted},</if>
                where
                id=#{banner.id}
            </update>

</mapper>
