<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.provider.mapper.CategoryMapper">

    <!-- 新增表category信息 -->
    <insert id="insert" parameterType="com.example.common.entity.Category" useGeneratedKeys="true"
            keyProperty="category.id">
        insert category (
        <if test="category.type != null and category.type != ''">type</if>
        <if test="category.parentId != null and category.parentId != ''">,parent_id</if>
        <if test="category.createTime != null and category.createTime != ''">,create_time</if>
        <if test="category.updateTime != null and category.updateTime != ''">,update_time</if>
        ,is_deleted
        ) values (
        <if test="category.type != null and category.type != ''">#{category.type}</if>
        <if test="category.parentId != null and category.parentId != ''">,#{category.parentId}</if>
        <if test="category.createTime != null and category.createTime != ''">,#{category.createTime}</if>
        <if test="category.updateTime != null and category.updateTime != ''">,#{category.updateTime}</if>
        ,#{category.isDeleted}
        )
    </insert>

    <!-- 根据主键id更新表category信息 -->
    <update id="update" parameterType="com.example.common.entity.Category" useGeneratedKeys="true"
            keyProperty="category.id">
        update category set
        <if test="category.id != null and category.id != ''">id=#{category.id}</if>
        <if test="category.type != null and category.type != ''">,type=#{category.type}</if>
        <if test="category.parentId != null and category.parentId != ''">,parent_id=#{category.parentId}</if>
        <if test="category.createTime != null and category.createTime != ''">,create_time=#{category.createTime}</if>
        <if test="category.updateTime != null and category.updateTime != ''">,update_time=#{category.updateTime}</if>
        <if test="category.isDeleted != null and category.isDeleted != ''">,is_deleted=#{category.isDeleted}</if>
        where
        id=#{category.id}
    </update>

    <select id="getCategoryList" resultType="com.example.common.entity.Category">
        select *
        from category
        where id in (${ids})
    </select>

    <select id="categoryLevel3AndAbove" resultType="com.example.common.entity.Category" parameterType="java.lang.Integer">
        select c#{number}.id,c#{number}.type,c#{number}.parent_id
        from category c1
        <choose>
            <when test="number ==3">
                join category c2 on c2.parent_id = c1.id
                join category c3 on c3.parent_id = c2.id
            </when>
            <when test="number ==4">
                join category c2 on c2.parent_id = c1.id
                join category c3 on c3.parent_id = c2.id
                join category c4 on c4.parent_id = c3.id
            </when>
        </choose>
        where c1.parent_id is null
        and c1.is_deleted = 0
    </select>

    <select id="getAll" resultType="com.example.common.entity.Category">
        select *
        from category
        where is_deleted = 0
    </select>

    <select id="getGamesByCategoryId" resultType="com.example.common.entity.Game">
        select * from game where category_id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>


</mapper>
