<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.provider.mapper.SmsMapper">

    <!-- 新增表sms信息 -->
    <insert id="insert" parameterType="com.example.common.entity.Sms" useGeneratedKeys="true"
            keyProperty="sms.id">
        insert sms (
        <if test="sms.phone != null and sms.phone != ''">phone,</if>
        <if test="sms.content != null and sms.content != ''">content,</if>
        <if test="sms.time != null">time,</if>
        <if test="sms.result != null and sms.result != ''">result,</if>
        <if test="sms.createTime != null and sms.createTime != ''">create_time,</if>
        <if test="sms.updateTime != null and sms.updateTime != ''">update_time,</if>
        is_deleted
        ) values (
        <if test="sms.phone != null and sms.phone != ''">#{sms.phone},</if>
        <if test="sms.content != null and sms.content != ''">#{sms.content},</if>
        <if test="sms.time != null">#{sms.time},</if>
        <if test="sms.result != null and sms.result != ''">#{sms.result},</if>
        <if test="sms.createTime != null and sms.createTime != ''">#{sms.createTime},</if>
        <if test="sms.updateTime != null and sms.updateTime != ''">#{sms.updateTime},</if>
        #{sms.isDeleted}
        )
    </insert>

    <!-- 根据主键id更新表sms信息 -->
    <update id="update" parameterType="com.example.common.entity.Sms" useGeneratedKeys="true"
            keyProperty="sms.id">
        update sms set
        <if test="sms.id != null and sms.id != ''">id=#{sms.id},</if>
        <if test="sms.phone != null and sms.phone != ''">phone=#{sms.phone},</if>
        <if test="sms.content != null and sms.content != ''">content=#{sms.content},</if>
        <if test="sms.time != null and sms.time != ''">time=#{sms.time},</if>
        <if test="sms.result != null and sms.result != ''">result=#{sms.result},</if>
        <if test="sms.createTime != null and sms.createTime != ''">create_time=#{sms.createTime},</if>
        <if test="sms.updateTime != null and sms.updateTime != ''">update_time=#{sms.updateTime},</if>
        <if test="sms.isDeleted != null and sms.isDeleted != ''">is_deleted=#{sms.isDeleted},</if>
        <if test="sms.version != null and sms.version != ''">version=#{sms.version}</if>
        where
        id=#{sms.id}
    </update>

</mapper>
