<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.provider.mapper.TagMapper">

    <!-- 新增表tag信息 -->
    <insert id="insert" parameterType="com.example.common.entity.Tag" useGeneratedKeys="true"
            keyProperty="tag.id">
        insert tag (
        <if test="tag.name != null and tag.name != ''">name,</if>
        <if test="tag.createTime != null">create_time,</if>
        <if test="tag.updateTime != null">update_time,</if>
        is_deleted
        ) values (
        <if test="tag.name != null and tag.name != ''">#{tag.name},</if>
        <if test="tag.createTime != null">#{tag.createTime},</if>
        <if test="tag.updateTime != null">#{tag.updateTime},</if>
        #{tag.isDeleted}
        )
    </insert>

    <insert id="insertToRelationTable" parameterType="com.example.common.entity.GameTagRelation" useGeneratedKeys="true"
            keyProperty="relation.id">
        insert
        game_tag_relation (
        <if test="relation.gameId != null">gameId,</if>
        <if test="relation.tagId != null">tagId,</if>
        <if test="relation.createTime != null">create_time,</if>
        <if test="relation.updateTime != null">update_time,</if>
        is_deleted
        ) values (
        <if test="relation.gameId != null">#{relation.gameId},</if>
        <if test="relation.tagId != null">#{relation.tagId},</if>
        <if test="relation.createTime != null">#{relation.createTime},</if>
        <if test="relation.updateTime != null">#{relation.updateTime},</if>
        #{relation.isDeleted}
        )
    </insert>

    <!-- 根据主键id更新表tag信息 -->
    <update id="update" parameterType="com.example.common.entity.Tag" useGeneratedKeys="true"
            keyProperty="tag.id">
        update tag set
        <if test="tag.id != null and tag.id != ''">id=#{tag.id},</if>
        <if test="tag.name != null and tag.name != ''">name=#{tag.name},</if>
        <if test="tag.createTime != null">create_time=#{tag.createTime},</if>
        <if test="tag.updateTime != null">update_time=#{tag.updateTime},</if>
        <if test="tag.isDeleted != null">is_deleted=#{tag.isDeleted}</if>
        where
        id=#{tag.id}
    </update>

    <select id="getTagsByGameId" resultType="com.example.common.entity.Tag"
            parameterType="java.math.BigInteger">
        select *
        from tag
        where id in (select tagId from game_tag_relation where gameId = #{gameId})
    </select>

</mapper>
